body{
font-size:18px;
color:black;
text-align:center;
text-align:justify;
}
h1{
font-size:60px;
color:red;
text-align:center;
}
h2{
font-size:60px;
color:orange;
text-align:center;
}
p {
   transform:scale(1.5,1.5);
}
